<div style="overflow-y: scroll;">
    <ng-container *ngIf="bike; else noBikeDetails">
        <div class="detailsContainer" >
            <div class="header">
                <h1>{{bike.title}}</h1>
            </div>
            <div class="detailsWrapper">
                <div class="leftColumn" >
                    <ng-container *ngIf="bike?.stolen; else withOwner">
                        <p-tag severity="danger" [rounded]="true" value="Stolen" class="flex-end"></p-tag>
                    </ng-container>
                    <ng-template #withOwner>
                        <p-tag severity="success" [rounded]="true" value="With Owner"></p-tag>
                    </ng-template>
                    <ng-container *ngIf="bike?.stolen; else withOwner">
                        <p>Stolen location: {{bike.stolen_record.location}}</p>
                        <p>Theft Description: {{bike.stolen_record.theft_description}}</p>
                        
                    </ng-container>
                </div>
                <div class="rightColumn">
                    <ng-container *ngIf="bike?.public_images && bike.public_images.length > 0 else fallbackImage">
                        <p-carousel [value]="bike.public_images || []" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
                            <ng-template let-image pTemplate="item">
                                <div class="image-container">
                                    <img [src]="image.medium" [alt]="image.name" style="height: 150px; width: 150px;"/>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </ng-container>
                    <ng-template #fallbackImage>
                        <img [src]="bike.large_img" style="height: 100p; width: 100px;"/>
                    </ng-template>
                    <div class="bicycleInfo">
                        <p *ngIf="bike.frame_size">Frame size: {{bike.frame_size}}</p>
                        <p *ngIf="bike.frame_model">Frame model: {{bike.frame_model}}</p>
                        <p *ngIf="bike.frame_colors">Frame color: {{bike.frame_colors}}</p>
                        <p *ngIf="bike.year">Year: {{bike.year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noBikeDetails>
        <h2> No bike details have been found</h2>
    </ng-template>
</div>     
