.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
}
.p-menubar {
    width: 100%;
    margin-top: 24px;
}
a:link{
    color: #72EEB4;
    text-decoration: none;
}
a:visited{
    color: #72EEB4;
    text-decoration: none;
}