<section>
    <div style="width: 100%; border: 1px solid #00A8E0; border-radius: 12px; height: 80vh; overflow-y: scroll;">
        <div style="padding: 16px; display: flex;">
            <input pInputText [(ngModel)]="autocompleteInput" type="text" pSize="large" placeholder="Large" />
            <div class="card flex justify-center" style="margin-left: 16px;">
                <p-button label="Check" (click)="onSearch()"></p-button>
            </div>
        </div>
        <div class="bicyle-results">
            <div class="card">
                <p-dataview #dv [value]="bikes()">
                    <ng-template #list let-items>
                        <div class="grid grid-cols-12 gap-4 grid-nogutter">
                            <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
                                <div class="flex flex-col"
                                    [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                                >
                                    <div  style="border-bottom: 4px black;" >
                                        <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                            <div>
                                                <span class="font-medium text-secondary text-sm">{{ item.title }}</span>
                                                <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.description }}</div>
                                            </div>
                                            <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                                <div
                                                    class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                                    style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                                >
                                             <p-button>View Details</p-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataview>
            </div>
        </div>
        <ng-template #noBikes>
            <p>No stolen bikes found.</p>
        </ng-template>
    </div>

</section>
