<section class="searchCard">
  <div class="searchBar">
    <p-autoComplete
      [(ngModel)]="selectedCity"
      [suggestions]="filteredCities"
      (completeMethod)="search($event)"
      field="name"
      placeholder="Search for a city"
    >
    </p-autoComplete>
    <div class="card flex justify-center" style="margin-left: 16px">
      <button
        pButton
        pRipple
        (click)="onSearch()"
        [disabled]="selectedCity === null">
       Search
        <span class="pi pi-search"></span>
      </button>
    </div>
  </div>
  <!-- TODO skeleton loader  -->
  <div class="resultsContainer">
    <p-dataview #dv [value]="bikes()">
      <ng-template #list let-items>
        <div
          class="col-span-12"
          *ngFor="let item of items; let first = first"
          class="col-span-12"
          style="margin-bottom: 12px">
          <div
            style="
              border: 2px solid #5ccaef;
              display: flex;
              justify-content: space-between;
              padding: 12px;
              margin-left: 12px;
              margin-right: 12px;
              border-radius: 12px;"
>
            <div style="max-width: 80%; display: flex; flex-direction: row">
              <div>
                <img
                  [src]="item.thumb"
                  style="height: 50px; width: 50px; border-radius: 12px"
                />
              </div>
              <div>
                <h4>{{ item.title }}</h4>
                <p>{{ item.description }}</p>
              </div>
            </div>
            <p-button (click)="onViewDetails(item)">View Details</p-button>
          </div>
        </div>
      </ng-template>
    </p-dataview>
  </div>
</section>
